<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxFrame" name="MainFrameView">
		<title>Moarload</title>
		<size>800,600</size>
		<id_arg>0</id_arg>
		<object class="wxPanel" name="ID_MAIN_FRAME_PANEL" variable="mainFramePanel" member="yes">
			<pos>80,56</pos>
			<object class="wxBoxSizer" variable="mainFrameSizer" member="no">
				<orient>wxVERTICAL</orient>
				<object class="sizeritem">
					<object class="wxNotebook" name="ID_MAIN_NOTEBOOK" variable="mainNotebook" member="yes">
						<object class="notebookpage">
							<object class="Custom" name="ID_DOWNLOAD_PANEL" subclass="DownloadPanel" variable="downloadPanel" member="yes">
								<creating_code>$(THIS) = new $(CLASS)($(PARENT), m__dataStore);</creating_code>
								<include_file>download__panel.h</include_file>
								<local_include>1</local_include>
								<style></style>
							</object>
							<label>Downloads</label>
						</object>
					</object>
					<flag>wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
					<border>5</border>
					<option>1</option>
				</object>
			</object>
		</object>
		<object class="wxMenuBar" variable="mainMenuBar" member="no">
			<object class="wxMenu" variable="Menu1" member="no">
				<label>&amp;File</label>
				<object class="wxMenuItem" name="idMenuQuit" variable="MenuItem1" member="no">
					<label>Quit</label>
					<accel>Alt-F4</accel>
					<help>Quit the application</help>
					<handler function="OnQuit" entry="EVT_MENU" />
				</object>
			</object>
			<object class="wxMenu" variable="Menu2" member="no">
				<label>Help</label>
				<object class="wxMenuItem" name="idMenuAbout" variable="MenuItem2" member="no">
					<label>About</label>
					<accel>F1</accel>
					<help>Show info about this application</help>
					<handler function="OnAbout" entry="EVT_MENU" />
				</object>
			</object>
		</object>
		<object class="wxToolBar" name="ID_MAIN_TOOLBAR" variable="mainToolBar" member="yes">
			<style>wxTB_HORIZONTAL|wxTB_TEXT|wxNO_BORDER</style>
			<object class="tool" name="ID_TOOLBARITEM1" variable="ToolBarItem1" member="yes">
				<label>Start/Stop</label>
				<bitmap stock_id="wxART_GO_FORWARD" />
			</object>
			<object class="separator" />
			<object class="tool" name="ID_TOOLBARITEM3" variable="ToolBarItem2" member="yes">
				<label>Stop Next</label>
				<bitmap stock_id="wxART_GO_DOWN" />
			</object>
			<object class="tool" name="ID_TOOLBARITEM4" variable="ToolBarItem3" member="yes">
				<label>Auto Reconnect</label>
				<bitmap stock_id="wxART_ERROR" />
			</object>
			<object class="tool" name="ID_TOOLBARITEM5" variable="ToolBarItem4" member="yes">
				<label>Auto Clipboard</label>
				<bitmap stock_id="wxART_PASTE" />
			</object>
			<object class="separator" />
			<object class="tool" name="ID_TOOLBARITEM6" variable="ToolBarItem5" member="yes">
				<label>Reconnect Now</label>
				<bitmap stock_id="wxART_ERROR" />
			</object>
		</object>
		<object class="wxStatusBar" name="ID_MAIN_STATUS_BAR" variable="mainStatusBar" member="yes">
			<fields>4</fields>
			<widths>-10,-10,-10,-10</widths>
			<styles>wxSB_FLAT,wxSB_FLAT,wxSB_FLAT,wxSB_FLAT</styles>
			<style>wxST_SIZEGRIP</style>
		</object>
	</object>
</wxsmith>
