<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxPanel" name="PageDownloadView">
		<id_arg>0</id_arg>
		<object class="wxBoxSizer" variable="downloadPageSizer" member="no">
			<orient>wxVERTICAL</orient>
			<object class="sizeritem">
				<object class="wxSplitterWindow" name="ID_FILTER_AND_DOWNLOADS_SPLITTER" variable="filterAndDownloadsSplitter" member="yes">
					<minsize>10</minsize>
					<orientation>vertical</orientation>
					<minsize>10,10</minsize>
					<object class="wxPanel" name="ID_FILTER_PANEL" variable="filterPanel" member="yes">
						<object class="wxBoxSizer" variable="filterSizer" member="no">
							<object class="sizeritem">
								<object class="wxListBox" name="ID_FILTER_LIST" variable="filterList" member="yes">
									<content>
										<item>All</item>
										<item>Downloading</item>
										<item>Complete</item>
										<item>Paused</item>
									</content>
									<default>-1</default>
									<style>wxLB_SINGLE|wxNO_BORDER</style>
								</object>
								<flag>wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<option>1</option>
							</object>
						</object>
					</object>
					<object class="wxPanel" name="ID_DOWNLOAD_LIST_PANEL" variable="downloadsListPanel" member="yes">
						<object class="wxBoxSizer" variable="downloadSizer" member="no">
							<object class="sizeritem">
								<object class="wxListCtrl" name="ID_DOWNLOAD_LIST" variable="downloadList" member="yes" />
								<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>1</border>
								<option>1</option>
							</object>
						</object>
					</object>
				</object>
				<flag>wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<option>1</option>
			</object>
		</object>
	</object>
</wxsmith>
